.complete {
  text-decoration: line-through;
}

.item {
  font-size: 25px;
  height: 30px;
  line-height: 30px;
  margin: 10px 10px;
}

.container {
  padding: 20px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
}

.footer i {
  margin: 20px 0;
}