.container {
  display: flex;
  justify-content: center;
}

.panel {
  border-radius: 5px;
  border: 2px solid black;
  width: 600px;
}

.row {
  display: flex;
}

.row:not(:last-child) {
  border-bottom: 2px solid black;
}

.left {
  padding: 10px;
  border-right: 2px solid black;
}

.right {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: lightgray;
}